<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Welcome to Question Cove</h1>
      <a href="/auth/google" class="btn btn-google-login">
        <%= fa_icon "google" %>
        Log in using Google
      </a>
    </div>
  </div>
</div>
