<div>
  <div class="card welcome-card">
    <div class="card-header">
      Welcome to Question Cove
    </div>
    <div class="text-center">
      <% if Rails.configuration.google_login %>
      <div>
        <a rel="nofollow" data-method="post" href="/auth/google" class="btn btn-google-login">
          <%= fa_icon "google" %>
          Log in using Google
        </a>
      </div>
      <% end %>
      <% if Rails.configuration.sg_login %>
      <div>
        <a rel="nofollow" data-method="post" href="/auth/sevengeese" class="btn btn-google-login">
          Log in using 7Geese
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
