<div>
  <div class="card welcome-card">
    <div class="card-header">
      Welcome to Question Cove
    </div>
    <div class="text-center">
      <a rel="nofollow" data-method="post" href="/auth/google" class="btn btn-google-login">
        <%= fa_icon "google" %>
        Log in using Google
      </a>
    </div>
  </div>
</div>
