<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="highlight">
      <h2>Welcome to the demo site</h2>
      <p>You are logged in as a test user in order to play around with the functionality of Question Cove. Data will be removed regularly so please do not use this for anything important. To view the source, visit <a href="https://github.com/severest/question-cove">https://github.com/severest/question-cove</a></p>
    </div>
  </div>
</div>
