<div class="form-group showdown-form">
  <ul class="sorting-list showdown-form-controls">
    <li class="active"><a href="#" data-view="markdown">Markdown</a></li>
    <li><a href="#" data-view="preview">Preview</a></li>
  </ul>

  <%= model.text_area :text, class: 'form-control showdown-edit mde', id: 'markdown' %>

  <div class="showdown-content" id="preview" style="display: none;"></div>
</div>

<p class="help-block pull-right"><strong>**bold**</strong>&nbsp;&nbsp;&nbsp;<i>_italic_</i>&nbsp;&nbsp;&nbsp;<code>`code`</code>&nbsp;&nbsp;&nbsp;>quote&nbsp;&nbsp;&nbsp;&lt;link&gt;</p>



<script>
  var converter = new showdown.Converter();
  $(function () {
    $('.showdown-edit').on('keyup',function () {
      convert(this);
    });

    // allow tab press in textarea
    $('.showdown-edit').on('keydown',function (e) {
      var $this, end, start;
      if (e.keyCode === 9) {
        start = this.selectionStart;
        end = this.selectionEnd;
        $this = $(this);
        $this.val($this.val().substring(0, start) + "\t" + $this.val().substring(end));
        this.selectionStart = this.selectionEnd = start + 1;
        return false;
      }
    });

    convert('.showdown-edit');
  });

  function convert(id) {
    text = $(id).val();
    html = converter.makeHtml(text);
    $('.showdown-content').html(html);
  }

  $('.showdown-form-controls a').click(function (evt) {
    evt.preventDefault();
    $('.showdown-form-controls li').removeClass('active');
    $(evt.target).parent().addClass('active');
    var view = $(evt.target).data('view');
    $('#preview, #markdown').hide();
    $('#' + view).show();
    enableHighlightJS();
  });
</script>
