.vote-count {
  padding: 10px;

  strong {
    font-size: 20px;
  }

  div {
    margin-bottom: 10px;
  }
}

.best-answer {
  font-size: 19px;
  padding-top: 10px;
}

textarea#answer_text {
  height: 100px;
}
