$sea-foam-green: #B9E3C6;
$gunmetal-blue: #32435E;
$steel-blue: #AFB6DD;
$aqua: #59C9A5;
$grey-asparagus: #475841;
$prune-red: #6E0D25;

$brand-primary: $gunmetal-blue;
$brand-secondary: $aqua;
$brand-success: darken($sea-foam-green, 40%);
$brand-danger: $prune-red;
$body-bg: $sea-foam-green;
$text-color: $grey-asparagus;

// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "mixins";
@import "sel2";
@import "showdown";
@import "highlightjs";

@import "questions";
@import "users";
@import "flash";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.page {
  height: 100%;
  display: flex;
}

$nav-width: 70px;
.navigation {
  height: 100%;
  min-width: $nav-width;
  background: $grey-asparagus;

  a {
    color: white;

    &:hover {
      text-decoration: none;
      color: darken(white, 5);
    }
  }

  &__brand {
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
  }

  &__user {
    position: fixed;
    bottom: 0;

    .btn {
      background: transparent;
      width: $nav-width;
      padding: 20px 0;

      &:hover {
        background: darken($grey-asparagus, 10);
      }

      &:active,
      &:focus {
        outline: none;
      }
    }

    .dropdown-menu {
      top: inherit;
      bottom: 100%;
    }
  }
}

.content {
  flex-grow: 1;
  padding-top: 30px;
  overflow: auto;
}

textarea {
  resize: vertical;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.sorting-list {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  text-align: right;
  li {
    display: inline;
    padding: 10px;
    margin-left: 10px;
  }
  li.active, li:hover {
    border-bottom: 1px solid $brand-primary;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
  }
  li:hover {
    cursor: pointer;
  }
}

.help-block {
  font-size: 12px;
}

footer {
  color: $gray-light;
  min-height: 150px;
  padding-top: 50px;
  font-size: 11px;
}

.highlight {
  background-color: #F9F9F9;
  border: 1px solid #A5A5A5;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  h2 {
    font-size: 20px;
  }
}
