@mixin left-arrow-box($background, $border, $arrowSize, $borderWidth) {
  position: relative;
	background: $background;
	border: $borderWidth solid $border;

  &:after,
  &:before {
    right: 100%;
  	top: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  &:after {
    border-color: rgba(0, 0, 0, 0);
  	border-right-color: $background;
  	border-width: $arrowSize;
  	margin-top: -$arrowSize;
  }

  &:before {
    border-color: rgba(0, 0, 0, 0);
  	border-right-color: $border;
  	border-width: $arrowSize + $borderWidth + 2;
  	margin-top: -($arrowSize + $borderWidth + 2);
  }
}
