.question-list-container {
  border-right: 1px solid $gray-lighter;
}

.question-list, .user-question-list {
  margin-top: 20px;
  .question-text {
    h1, h2, h3, h4, h5 {
      font-size: 18px;
      margin-top: 0px;
    }
  }
}

.user-meta-text {
  font-size: 11px;
  #answered {
    color: $brand-primary;
  }
}

.tag-list {
  margin-bottom: 10px;
}

.label-question-tag {
  background-color: transparent;
  color: $brand-secondary;
  border-color: $brand-secondary;
  border: 1px solid;

  &[href]:hover, &[href]:active, &[href]:focus {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: white;
  }
}

.question-container {
  width: 700px;
  margin: auto;

  &__item,
  &__answer {
    margin-bottom: 15px;
    background: white;
    box-shadow: 0 0 5px black;

    &__row {
      display: flex;
    }

    &__content {
      padding: 20px;
      width: calc(100% - 70px);
    }

    &__side {
      width: 65px;
      background: $brand-primary;
      color: white;

      div {
        margin-bottom: 10px;
      }

      div:first-child {
        margin-top: 20px;
      }

      a {
        color: white;
      }
    }

    &__comments {
      width: 450px;
      display: flex;
      flex-direction: column;
    }

    &__meta {
      width: 260px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: darken($gray-lighter, 10%);
    }
  }

  &__answer--best-answer {
    font-size: 19px;
    padding: 20px;
    background: $brand-success;
    color: white;
  }
}

.comment-list {
  &__item {
    display: flex;
    align-items: stretch;
    flex-grow: 2;
  }

  &__item__avatar {
    width: 65px;
    background: $brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item__content,
  &__item__textarea {
    padding: 12px;
    width: 380px;
    background: $gray-lighter;
  }

  &__item__content {
    @include left-arrow-box($gray-lighter, $gray-lighter, 5px, 0);
  }
}
