.question-list-container {
  width: 970px;
  margin: auto;

  &__controls {
    display: flex;
    justify-content: space-between;

    .input-group {
      width: 320px;
    }

    .btn-primary {
      height: 35px;
    }
  }
}

.question-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-summary-item {
  margin-bottom: 10px;
  width: 750px;

  &__content {
    padding: 20px;
    position: relative;
  }
  &__title {
    h1, h2, h3, h4 {
      margin-top: 0;
      font-size: 18px;
    }
  }
  &__bottom {
    background: $brand-primary;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  &__bottom__left,
  &__bottom__right {
    display: flex;
  }
  &__bottom__item {
    padding: 13px;
    font-size: 15px;

    a {
      color: white;
    }
  }
}

.user-meta-text {
  font-size: 11px;
  #answered {
    color: $brand-primary;
  }
}

.tag-list {
  margin-bottom: 10px;
}

.label-question-tag {
  background-color: transparent;
  color: $brand-secondary;
  border-color: $brand-secondary;
  border: 1px solid;

  &[href]:hover, &[href]:active, &[href]:focus {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: white;
  }
}

.question-container {
  width: 700px;
  margin: auto;

  &__item,
  &__answer {
    margin-bottom: 15px;

    &__row {
      display: flex;
    }

    &__content {
      padding: 20px;
      width: calc(100% - 70px);
    }

    &__side {
      width: 65px;
      background: $brand-primary;
      color: white;

      div {
        margin-bottom: 10px;
      }

      div:first-child {
        margin-top: 20px;
      }

      a {
        color: white;
      }
    }

    &__comments {
      width: 450px;
      display: flex;
      flex-direction: column;
    }

    &__meta {
      width: 260px;
      display: flex;
      flex-direction: column;
      background: darken($gray-lighter, 10%);

      div {
        padding: 10px 21px 0;
      }
      div:last-child {
        padding-bottom: 15px;
      }
      div:first-child {
        padding: 15px 15px 0;
      }
    }
  }
}

.comment-list {
  &__item {
    display: flex;
    align-items: stretch;
    flex-grow: 2;
  }

  &__item__avatar {
    width: 65px;
    background: $brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item__content,
  &__item__textarea {
    padding: 12px;
    width: 380px;
    background: $gray-lighter;
  }

  &__item__content {
    @include left-arrow-box($gray-lighter, $gray-lighter, 5px, 0);
  }
}

.edit_answer {
  width: 750px;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  color: white;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: $brand-success;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
