.user-page {
  display: flex;

  &__left {
    width: 360px;
    padding-right: 20px;
  }

  &__right {
    width: calc(100% - 360px);
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}

.user-profile img {
    margin: 20px;
}
